{% load cloudinary %}

<ul class="orbit-container" data-orbit ata-use-m-u-i="false" height="500">
  {% for slide in slides %}
    <li class="orbit-slide">
      <img class="orbit-image" src="{% cloudinary_url slide.image width=800 height=500  crop="fill" %}" alt="Space">
      <figcaption class="orbit-caption">Space, the final frontier.</figcaption>
    </li>
  {% endfor %}
  <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span> &#9664;&#xFE0E;</button>
  <button class="orbit-next"><span class="show-for-sr">Next Slide</span> &#9654;&#xFE0E;</button>
</ul>